/************************************
        DIFFICULTY CHIPS
*************************************/

/* first .chips only */
.chip {
    display: inline-block;
    
    user-select: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--var-color-chips-text);
    background-color: var(--var-color-chips-default);

    line-height: 20px;
    border-radius: 40px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

/* All .chip except first one */
.chip + .chip {
    margin-left: 7px;
}

.chip-beginner {
    background-color: var(--var-color-chips-beginner);
}

.chip-intermediate {
    background-color: var(--var-color-chips-intermediate);
}

.chip-advanced {
    background-color: var(--var-color-chips-advanced);
}