.navbar {
    display: flex;
    justify-content: space-between;
    
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 50px;

    background-color: black;
    border-bottom: 1px solid #2a2a2a;
}

.title-container {
    margin-left: 25%;
}

.title-container h1 {
    margin: 0px;
    font-size: 3rem;
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25%;
}

.links-container a {
    margin: 5px;
    color: var(--var-text-link);
    transition: color 100ms;
}

.links-container a:hover {
    color: var(--var-text-link-hover);
}