<div id="chips-container">
    <app-chips *ngIf="this.article?.tags?.length ?? 0 > 0" [chips]="this.article?.tags ?? []"></app-chips>
</div>

<app-post-reader [src]="this.article?.filepath ?? null"></app-post-reader>

<div *ngIf="this.article?.author && this.article?.author?.trim() !== ''" class="author-container">
    <hr/>
    <span>Written by:</span>
    <a  [href]="'https://github.com/'+this.article?.author"
        target="_blank"
        class="author-link">
        <img class="author-avatar" [src]="'https://avatars.githubusercontent.com/' + this.article?.author" />
        {{this.article?.author}}
    </a>
</div>

<div *ngIf="this.previousRoute || this.nextRoute" class="relative-navigation-container">
    <div>
        <a  *ngIf="this.previousRoute"
            [routerLink]="'/article/'+this.previousRoute"
            (click)="this.scrollTop()"
            class="rel-nav-link rel-nav-link-prev">
            Previous
        </a>
    </div>
    <div>
        <a  *ngIf="this.nextRoute"
            [routerLink]="'/article/'+this.nextRoute"
            (click)="this.scrollTop()"
            class="rel-nav-link rel-nav-link-next">
            Next
        </a>
    </div>
</div>