.relative-navigation-container {
    display: flex;
    justify-content: space-between;

    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #151515;
    border-radius: 10px;
    border: 1px solid #2a2a2a;
}

.rel-nav-link {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.rel-nav-link-prev::before {
    content: '❮';
    transition: margin-right 100ms;
}
.rel-nav-link-next::after {
    content: '❯';
    transition: margin-left 100ms;
}

.rel-nav-link-prev:hover::before {
    margin-right: 10px;
}
.rel-nav-link-next:hover::after {
    margin-left: 10px;
}

.author-container {
    width: 100%;
}

.author-container span {
    font-size: 0.8em;
}

.author-link {
    display: inline-flex;
    width: 100%;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.author-avatar {
    width: 40px;
    height: 40px;
    border: solid 2px #2a2a2a;
    border-radius: 50%;
    margin-right: 10px;
}