@if (this.article?.tags?.length ?? 0 > 0) {

<div id="chips-container">
    <app-chips [chips]="this.article?.tags ?? []"></app-chips>
</div>

}

<app-post-reader [src]="this.article?.filepath ?? null"></app-post-reader>

@if (this.article?.author && this.article?.author?.trim() !== '') {

<div class="author-container">
    <hr/>
    <span>Written by:</span>
    <a  [href]="'https://github.com/'+this.article?.author"
        target="_blank"
        class="author-link">
        <img class="author-avatar" [src]="'https://avatars.githubusercontent.com/' + this.article?.author" />
        {{this.article?.author}}
    </a>
</div>

}

@if (this.previousRoute || this.nextRoute) {

<div class="relative-navigation-container">
    <div>
        @if (this.previousRoute) {
            <a [routerLink]="'/article/'+this.previousRoute"
                (click)="this.scrollTop()"
                class="rel-nav-link rel-nav-link-prev">
                Previous
            </a>
        }
    </div>
    <div>
        @if (this.nextRoute) {
            <a [routerLink]="'/article/'+this.nextRoute"
                (click)="this.scrollTop()"
                class="rel-nav-link rel-nav-link-next">
                Next
            </a>
        }
    </div>
</div>

}