<div class="navbar">
    <div class="title-container">
        <h1>Learn-Git</h1>
    </div>
    <div class="links-container">
        <a [routerLink]="'home'">Home</a>
        <a [routerLink]="'index'">Tutorials</a>
        <a [routerLink]="'about'">About</a>
        <a class="theme-link" (click)="switchTheme()">
            <img *ngIf="this.darkTheme" class="theme-icon theme-icon-dark" src="assets/icons/moon.svg" alt="Moon" />
            <img *ngIf="!this.darkTheme" class="theme-icon" src="assets/icons/sun.svg" alt="Sun" />
        </a>
        <a href="https://github.com/Jose134/learn-git" target="_blank">
            <img *ngIf="this.darkTheme" class="github-icon" src="assets/icons/github-mark-white.svg" alt="GitHub" />
            <img *ngIf="!this.darkTheme" class="github-icon" src="assets/icons/github-mark.svg" alt="GitHub" />
        </a>
    </div>
</div>