.navbar {
    display: flex;
    justify-content: space-between;
    
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 50px;

    background-color: var(--var-color-bg-header);
    border-bottom: 1px solid var(--var-color-bg-border);
}

.title-container {
    margin-left: 25%;
}

.title-container h1 {
    margin: 0px;
    font-size: 3rem;
    color: var(--var-color-nav-text-header);
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25%;
}

.links-container a {
    margin: 5px;
    color: var(--var-color-nav-text-link);
}

.links-container a:hover {
    color: var(--var-color-nav-text-link-hover);
}