.codeblock {
    /* Needed to place Hover text on top of solutions */
    position: relative;
}

pre {
    background: var(--var-color-codeblock-background);
    border-left: 8px solid var(--var-color-codeblock-border);
    padding: 5px;
    white-space: nowrap;
}

.hover-instructions {
    /* Place on top of the codeblock */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    /* Center the text */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.code-blur {
    /* Blur the text */
    filter: blur(10px);
    transition: filter 150ms;
}

/* SYNTAX HIGHLIGHTING */
span.whitespace {
    white-space: pre;
}

span.command {
    color: var(--var-color-syntax-command);
}

span.param {
    color: var(--var-color-syntax-param);
    font-weight: bold;
}

span.operator {
    color: var(--var-color-syntax-operator);
}