<remark id="remark" [markdown]="this.markdown" [processor]="this.processor">
    <ng-template remarkTemplate="github-avatar" let-node>
        <app-github-avatar [src]="node.url"></app-github-avatar>
    </ng-template>
    <ng-template remarkTemplate="code" let-node>
        <app-codeblock [code]="node.value" [isSolution]="node.isSolution"></app-codeblock>
    </ng-template>
    <ng-template remarkTemplate="git-graph" let-node>
        <app-git-graph [graph]="node.graph"></app-git-graph>
    </ng-template>
</remark>
