[data-theme="dark"] {
    /* WEBSITE COLORS */
    --var-color-bg: #0c0c0c;
    --var-color-bg-header: black;
    --var-color-bg-lighter: #151515;
    --var-color-bg-border: #2a2a2a;
    --var-color-text-header: #fafaff;
    --var-color-text-primary: #fafaff;
    --var-color-text-link: #bbe3ce;
    --var-color-text-link-hover: #7ea390;
    --var-color-nav-text-header: #fafaff;
    --var-color-nav-text-link: #fafaff;
    --var-color-nav-text-link-hover: #cacacc;
    --var-color-syntax-command: #bde038;
    --var-color-syntax-param: #444444; 
    --var-color-codeblock-background: #222222; 
    --var-color-codeblock-border: #444444; 

    --var-color-chips-text: black;
    --var-color-chips-default: white;
    --var-color-chips-beginner: lime;
    --var-color-chips-intermediate: orange;
    --var-color-chips-advanced: red;

    /* GIT GRAPH */
    --var-color-graph-bg: #151515;
    --var-color-graph-branch-text: #ffffff;
    --var-color-graph-branch-line: #bbe3ce;
    --var-color-graph-commit-text: #ffffff;
    --var-color-graph-commit-circle: #000000;
    --var-color-graph-commit-circle-stroke: #bbe3ce;
    --var-color-graph-link: #ffffff;

    --var-graph-commit-circle-stroke-width: 3px;
    --var-graph-link-stroke-width: 3px;
    --var-graph-branch-line-stroke-width: 2px;
    --var-graph-branch-line-stroke-dasharray: 10;

    --var-link-transition: color 100ms;
}