[data-theme="light"] {
    /* WEBSITE COLORS */
    --var-color-bg: white;
    --var-color-bg-header: #cdcedd;
    --var-color-bg-lighter: #cdcedd;
    --var-color-bg-border: #444444;
    --var-color-text-header: #0c0c0c;
    --var-color-text-primary: #0c0c0c;
    --var-color-text-link: #dd6026;
    --var-color-text-link-hover: #b14d1e;
    --var-color-nav-text-header: #0c0c0c;
    --var-color-nav-text-link: #0c0c0c;
    --var-color-nav-text-link-hover: #242424;
    --var-color-syntax-command: #ff6600;
    --var-color-syntax-param: #444444; 
    --var-color-codeblock-background: #cdcedd; 
    --var-color-codeblock-border: #444444; 

    --var-color-chips-text: #0c0c0c;
    --var-color-chips-border: #cdcedd;
    --var-color-chips-default: rgba(205, 206, 221, 0.1);
    --var-color-chips-beginner: lime;
    --var-color-chips-intermediate: orange;
    --var-color-chips-advanced: red;

    /* GIT GRAPH */
    --var-color-graph-bg: #cdcedd;
    --var-color-graph-branch-text: #0c0c0c;
    --var-color-graph-branch-line: #ff0000;
    --var-color-graph-commit-text: #0c0c0c;
    --var-color-graph-commit-circle: #ffffff;
    --var-color-graph-commit-circle-stroke: #000000;
    --var-color-graph-link: #000000;

    --var-graph-commit-circle-stroke-width: 3px;
    --var-graph-link-stroke-width: 3px;
    --var-graph-branch-line-stroke-width: 2px;
    --var-graph-branch-line-stroke-dasharray: 10;

    /* ERROR CONTAINER */
    --var-color-error-container-bg: rgba(255, 0, 0, 0.1);
    --var-color-error-container-border: red;

    --var-link-transition: color 100ms;
}