/* You can add global styles to this file, and also import other style files */
@import 'themes/dark.css';
@import 'themes/light.css';

* {
    transition: background-color 125ms, color 125ms;
}

html {
    font-size: 1.2em;
}

body {
    background-color: var(--var-color-bg);
    color: var(--var-color-text-primary);
    font-family: Karla;
    margin: 0;
}

h1 {
    font-family: Kanit;
    color: var(--var-color-text-header);
}

h2 {
    font-family: Kanit;
    color: var(--var-color-text-header);
}

a {
    color: var(--var-color-text-link);
    transition: var(--var-link-transition);
}

a:hover {
    color: var(--var-color-text-link-hover);
}

hr {
    border: 1px solid var(--var-color-bg-border);
    margin-top: 50px;
    margin-bottom: 25px;
}