/* You can add global styles to this file, and also import other style files */
:root {
    --var-color-bg: #0c0c0c;
    --var-text-primary: #fafaff;
    --var-text-link: #fafaff;
    --var-text-link-hover: #cacacc;
    --var-color-syntax-command: orange;
    --var-color-syntax-param: #444; 
}

html {
    background-color: var(--var-color-bg);
    color: var(--var-text-primary);
    font-size: 1.2em;
}

body {
    font-family: Karla;
    margin: 0;
}

h1 {
    font-family: Kanit;
}

a {
    color: #bbe3ce;
    /* color: #63b9d9; */
}

hr {
    border: 1px solid #2a2a2a;
    margin-top: 50px;
    margin-bottom: 25px;
}